/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Estilo do cabeçalho */
header {
    background: linear-gradient(to right, #c890e1, #a758cf, #a147ce, #9a0ee0);
    position: fixed;
    width: 100%;
}
#logo {
    width: 150px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
header nav a {
    font-weight: bold;
    color: #211b15;
    padding: 5vh;
    transition: background-color 1s;
}
header nav a:hover {
    color: #eaeaea;
    background-color: #f5f5f5;
}

/* Seções principais */
.grupo {
    height: 100vh;
    background: linear-gradient(to right, #c187dd, #b26ad6, #a746d7, #8c24c1);
}
section {
    padding: 0 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Caixas de conteúdo */
.caixa-roxa-1 {
    box-shadow: 4px 4px 10px rgba(16, 16, 16, 0.1);
    margin: 20px 10px;
    width: 100%;
    margin-top: 300px; /* Sobe ou desce */
    margin-left: 50px; /* Move para a direita */
    margin-right: 0px; /* Reduz a distância da direita */
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;
    background: linear-gradient(to right, #D8ACED, #C489E1, #BD71E3, #8E45B2);
}
/* Caixas de conteúdo */
.caixa-roxa-2 {
    box-shadow: 4px 4px 10px rgba(16, 16, 16, 0.1);
    margin: 20px 10px;
    width: 100%;
    margin-top: 300px; /* Sobe ou desce */
    margin-left: 50px; /* Move para a direita */
    margin-right: 0px; /* Reduz a distância da direita */
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;
    background: linear-gradient(to right, #D8ACED, #C489E1, #BD71E3, #8E45B2);
}
/* Caixas de conteúdo */
.caixa-roxa-3 {
    box-shadow: 4px 4px 10px rgba(16, 16, 16, 0.1);
    margin: 20px 10px;
    width: 100%;
    margin-top: 300px; /* Sobe ou desce */
    margin-left: -500px; /* Move para a direita */
    margin-right: 0px; /* Reduz a distância da direita */
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;
    background: linear-gradient(to right, #D8ACED, #C489E1, #BD71E3, #8E45B2);
}
/* Caixas de conteúdo */
.caixa-roxa-4 {
    box-shadow: 4px 4px 10px rgba(16, 16, 16, 0.1);
    margin: 20px 10px;
    width: 100%;
    margin-top: -500px; /* Sobe ou desce */
    margin-left: 50px; /* Move para a direita */
    margin-right: 0px; /* Reduz a distância da direita */
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;
    background: linear-gradient(to right, #D8ACED, #C489E1, #BD71E3, #8E45B2);
}
.caixa-roxa h1 {
    font-size: 60px;
    margin-bottom: 25px;
}
.caixa-roxa p {
    margin: 0;
}

/* Imagens */
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
